@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primary :  #7286D3;
    --secondary :  #8EA7E9;
    --tertiary : #D9D9D9;
    --gradient: linear-gradient(3deg,rgb(27, 24, 24)2% ,rgba(164, 168, 164, 0.01)5.5%);
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: none;
    font-family: poppins;
}
.parent{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}
.page1{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #fff;
    background: url(./images/blue_oceans.png);
    background-size: cover;
    font-family: poppins;
}
.page1>h1{
    font-size: 70px;
    color: #fff;
}
.page2{
    flex: 1;
    padding: 0 7% 0 7%;
}
.page2>h1{
    margin: 0 10% 10% 10%;
    font-family: poppins;
}
h2{
    visibility: hidden;
}
.input{
    height: 80%;
    width: 90%;

}
input{
    border: 1px solid grey;
    padding: 4%;
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    outline-color: blue;
    
}
.lien{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
a{
    color: var(--secondary);
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button{
    height: 55px;
    width: 190px;
    border: 1px solid;
    border-radius: 15px;
 background-color: var(--secondary);
}
hr{
    height: 2px;
    width: 40%;
    background-color: black;
}
.avec{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 90px;
}
img{
    width: 50px;
    height: 50px;
    background-color: var(--tertiary);
    border-radius: 50%;
}
@media screen and (max-width:430px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0;
        color: white;
        padding: 0;
        border: none;
        font-family: poppins;
    }
        .page1{
            display: none;
            visibility: hidden;
        }
        .page2{
            background: var(--gradient), url(./images/blue_oceans.png);   
            background-size:cover;
            padding: 2rem;
            font-family: poppins;
        }

        h1{
        display: flex;
        font-family: poppins;
        font-size: 1.5rem;
        padding: 1rem 0;
        }
        h2{
            display: flex;
            visibility: visible;
            padding-right: 1,8rem;
            padding: 1rem;
            justify-content: center;
            align-items: center
            font-family: poppins;
            height: 2rem;
            font-size: 2rem;
        }
      a{
        color: #fff;
      }
      hr{
        background-color: #fff;
      }
    }