@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary : #7286D3;
    --secondary:#8EA7E9;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    border: none;
    margin: none;
    padding: none;
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: poppins;
}
 .page
 {
  display: flex;
  height: 100vh;
    width: 100vw;
}
.page1{
    flex: 1;
    background-color: black;
    color: white;
   background: url(./image/blue.png);
   width: 100%;
   font-family: JejuHallasan;
}
.page1>h1{
  position: absolute;
  bottom: 10px;
  font-size: 70px;
 font-family:
}
 .page2{
    flex: 1;
    background-color: ;
    height: 100vh;
    width: 100vw;
   padding: 5% 0 4% 4%;
 }

 .form{
    background-color:;
    height: 390px;
    width: 550px;
    padding: 5% 5% 5% 0 ;
 }
 .form >form{
  margin: 5%;
    
 }
 .input{
    height: 50px;
    width: 90%;
    padding: 5%;
    border: solid 1px;
    border-radius: 20px;
    margin-bottom: 3%;
    border-color: var(--secondary);
    outline-color: var(--secondary);
 }
 a{
    padding: 0 0 0 60%;
    margin-top: 5%;
    color: #7286D3;;
 }
 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    
    
 }
 button{
    height: 45px;
    width: 200px;
    border: solid 1px;
    border-radius: 13px;
    background-color: #7286D3;;
 }
 hr{
    height:1px;
    width: 250px;
    background-color: black;
 }
 .ou-avec{
   display: flex;
 justify-content: center;
 justify-content: space-around;
 padding-bottom: 40px;
}
.image{
   display: flex;
   align-items: center;
   justify-content: space-around;
   
}
.img{
   height: 35px;
   border-radius: 10px;
   padding-left: 80px ;
}